SECRET_KEY="%u(uu$wuet3(qr52b0pr@8=klk&mo(1nraenupooi0)q148gfi"
POSTGRES_PASSWORD=example
POSTGRES_USER=root
POSTGRES_DB=postgres
POSTGRES_HOST=192.168.100.26
POSTGRES_PORT=5432
USE_POSTGRES=False
ALLOWED_HOSTS=localhost,
DJANGO_SUPERUSER_USERNAME=dev_admin
DJANGO_SUPERUSER_EMAIL=dev_admin@example.com
DJANGO_SUPERUSER_PASSWORD=dummypassword
